<% result.forEach(element => {%>
    <input type="hidden" id="custId" name="custId" value=<%=element.bookid%>>
    <h3><%=element.bookname%> </h3>  
    <h3><%=element.author%></h3>
    <h3><%=element.pub_date%></h3>
    
    <a href="/addbook?id=<%=element.bookid%>&name=<%=element.bookname%>&author=<%=element.author%>&pub_date=<%=element.publishdate%>" ><button class = "btn btn-primary">Add book</button></a>
<% }); %>